body {
  font-family: "Comfortaa", sans-serif;
  list-style: none;
  background-color: black;
}
body .ball {
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 50%;
  pointer-events: none;
}
body::-webkit-scrollbar {
  background-color: gray;
}
body::-webkit-scrollbar-thumb {
  background: rgb(255, 166, 0);
}
body .obj {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 992px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100vw;
  }
}
.container {
  margin: 5px;
  padding: 0;
}

#barText li a {
  font-size: 1rem;
}
#barText li a:hover {
  color: orange;
}

#baricon {
  height: 100%;
  width: 200px;
}
#baricon i {
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
}
#baricon i:hover {
  cursor: pointer;
  color: orange;
  text-shadow: 0 0 9px orange, 0 0 10px orange;
}

.ofbox {
  margin: 1.5rem;
}
.ofbox li {
  line-height: 2;
}

@media (min-width: 390px) {
  .navbar .container-fluid {
    justify-content: space-between;
  }
}
.box {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 992px) {
  .navbar.bg-dark {
    --bs-bg-opacity: 0.2;
    z-index: 10000;
  }
}

#offcanvas {
  background: #000;
}

.btn-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.btn-close:hover {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffA500'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.ofbox {
  color: white;
}

.ofbox li:hover {
  cursor: pointer;
  color: orange;
  text-shadow: 0 0 3px rgb(228, 177, 83);
}

#home {
  z-index: -100;
  height: 350px;
  top: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
#home img {
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 992px) {
  #home {
    height: 100vh;
    margin-top: 0;
    position: absolute;
  }
}
#home img {
  width: 100%;
  height: 100%;
}
#home .swiper-button-prev {
  color: rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
}
#home .swiper-button-prev:hover {
  color: orange;
}
#home .swiper-button-next {
  color: rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
}
#home .swiper-button-next:hover {
  color: orange;
}
#home .swiper-button-prev::after {
  display: none;
}
#home .swiper-button-next::after {
  display: none;
}

#fog {
  display: none;
}
@media (min-width: 992px) {
  #fog {
    display: block;
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: -15%;
    z-index: 1000000000;
  }
  #fog .float-wrap-01 {
    height: 100%;
    width: 100%;
  }
  #fog .float-wrap-01 .cloud {
    width: 100%;
    height: 100%;
    background: url(../../image/cloud1.png) no-repeat center/100%;
  }
  #fog .float-wrap-02 {
    height: 100%;
    width: 100%;
  }
  #fog .float-wrap-02 .cloud {
    width: 100%;
    height: 100%;
    background: url(../../image/cloud2.png) no-repeat center/100%;
  }
  #fog .float-wrap-03 {
    height: 100%;
    width: 100%;
  }
  #fog .float-wrap-03 .cloud {
    width: 100%;
    height: 100%;
    background: url(../../image/cloud3.png) no-repeat center/100%;
  }
  #fog .float-wrap-04 {
    height: 100%;
    width: 100%;
  }
  #fog .float-wrap-04 .cloud {
    width: 100%;
    height: 100%;
    background: url(../../image/cloud4.png) no-repeat center/100%;
  }
  #fog .float-wrap-05 {
    height: 100%;
    width: 100%;
  }
  #fog .float-wrap-05 .cloud {
    width: 100%;
    height: 100%;
    background: url(../../image/cloud5.png) no-repeat center/100%;
  }
}

#section01 {
  height: 350px;
}
@media (min-width: 992px) {
  #section01 {
    height: 100vh;
  }
}

#section02 {
  display: flex;
  justify-content: center;
}
#section02 .row {
  width: 95%;
}
#section02 .row .box {
  width: 500px;
  margin-top: 50px;
  height: 80vh;
  border: 1px solid orange;
  flex-direction: column;
  justify-content: start;
}
#section02 .row .box .postext {
  margin-top: 50px;
}
#section02 .row .box .postext .price {
  display: flex;
  flex-direction: row;
}
#section02 .row .box .postext p {
  margin-right: 10px;
  color: white;
}
#section02 .row .box .postext .takeof {
  text-decoration: line-through;
}
#section02 .row .box .postext i {
  color: orange;
}
@media (min-width: 992px) {
  #section02 .row .box {
    width: 30%;
  }
}
#section02 .row .poster {
  margin-top: 10px;
  width: 100%;
  height: 70%;
  border: 1px solid orange;
}
#section02 .row .poster .obj {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#footer {
  margin-top: 50px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer .title {
  height: 12%;
}
#footer .logo {
  width: 80%;
  height: 25%;
}
#footer .logo .swiper-slide {
  width: 20%;
}
#footer .information {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
}
#footer .information .infobox {
  width: 400px;
}
#footer .information .infobox p {
  font-size: 14px;
}
#footer .information .infobox p:hover {
  color: orange;
  cursor: pointer;
}
#footer .information .infobox h5 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 50px;
}
#footer .information .infobox h5:hover {
  color: orange;
  cursor: pointer;
}
#footer .information .infobox .input-group-text {
  background-color: orange;
  color: white;
}
#footer .information .infobox .facebook i {
  margin-left: 15px;
}
#footer .information .infobox .facebook i:hover {
  color: orange;
  cursor: pointer;
}

.copyright {
  color: white;
  margin-top: 50px;
}