#home {
  // xs
  z-index: -100;
  height: 350px;
  top: 0;
  position: relative;
  img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  @include lg {
    height: 100vh;
    margin-top: 0;
    position: absolute;
  }
  width: 100%;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
  }
  .swiper-button-prev{
    color:rgba(0, 0 ,0, 0.3);
    font-size: 2.5rem;
    &:hover{
      color: orange;
    }
  }
  .swiper-button-next{
    color:rgba(0, 0, 0, 0.3);
    font-size: 2.5rem;
    &:hover{
      color: orange;
    }
  }
  
  .swiper-button-prev::after{
    display: none;
  }
  .swiper-button-next::after{
    display: none;
  }
}



