@include lg{
  .navbar{
    position: fixed;
    top: 0;
    width: 100vw;
  }
}

.container {
  margin: 5px;
  padding: 0;
}

#barText {
  li {
    a {
      font-size: 1rem;
    }
    a:hover {
      color: orange;
    }
  }
}

#baricon {
  height: 100%;
  width: 200px;
  i {
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
  }
  i:hover {
    cursor: pointer;
    color: orange;
    text-shadow: 0 0 9px orange, 0 0 10px orange;
  }
}

.ofbox {
  margin: 1.5rem;
  li {
    line-height: 2;
  }
}

@include sm {
  .navbar {
    .container-fluid {
      justify-content: space-between;
    }
  }
}

.box {
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.navbar.bg-dark {
  @include lg {
    --bs-bg-opacity: 0.2;
    z-index: 10000;
  }
}

#offcanvas {
  background: #000;
}

.btn-close {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}
.btn-close:hover {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffA500'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}

.ofbox {
  color: white;
}

.ofbox li:hover {
  cursor: pointer;
  color: orange;
  text-shadow: 0 0 3px rgb(228, 177, 83);
}
