// 文字大小、行高、空間
$font-base-size: 16px;
$line-height-level: 1.4;
$space: 1rem;

// Breakpoint
$breakpoint-sm: 390px;
$breakpoint-md: 783px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
